Checks: "-*,\
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-identifier-naming,
  misc-include-cleaner,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -modernize-avoid-c-arrays,
  -clang-analyzer-security.*,
  -clang-analyzer-optin.*"

WarningsAsErrors: ""

FormatStyle: file

HeaderFilterRegex: "^(?!.*third_party).*"

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: _
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.NamespaceCase
    value: camelBack
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: misc-include-cleaner.IgnoreHeaders
    value: bits/.*;signal.h;stdio.h;unistd.h;arpa/inet.h;netinet/in.h;sys/socket.h;sys/types.h;sys/wait.h;ifaddrs.h;fcntl.h;filesystem;nlohmann/json_fwd.hpp;nlohmann/json.hpp;httplib.h;stdlib.h;math.h;
